body {
    background-image: linear-gradient(to top, rgb(155, 176, 208), rgb(245, 249, 255));
}

#main-container {
    height: 100vh;
    padding: 0 2em;
}

#back-btn {
    animation: slide-fade 0.5s ease-out forwards;
}

.bg-blue {
    background-color: rgb(81, 126, 182);
}

.wide-column {
    width: 100%;
    white-space: nowrap;
}

.nav-item button {
    color: black;
}

button .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: rgb(108,117,125);
}

/* table tr td {
    overflow-x: hidden;
} */

@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}